<!doctype html>
<html lang="pt-BR">
  <head>
    <%- include('partials_head') %>
  </head>
  <body>
    <%- include('partials_nav') %>
    <main class="container">
      <%- body %>
    </main>
    <footer class="footer">© <%= new Date().getFullYear() %> Central de Suporte Técnico – UNINORTE</footer>
  </body>
</html>